/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4;
}
